# Python
__pycache__/
*.pyc
*.pyo
*.so
*.dylib
*.egg-info/
dist/
build/

# uv
.uv/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv

# Data & results
#data/
results/
outputs/
runs/
*.ply
*.log

# IDE
.vscode/
.idea/
.DS_Store